---
import Base from '@/layouts/Base.astro';
---
<Base
  locale="es"
  title="Eulogio Albalat — Guitarrista clásico"
  description="Sitio web de Eulogio Albalat, guitarrista clásico."
>
  <h1>Albalat</h1>
</Base>
