<div class="absolute bottom-6 left-6 right-6 z-40 flex items-end justify-between pointer-events-none mix-blend-difference" data-hud>
  <div aria-hidden="true"></div>
  <div class="w-40 h-px bg-[var(--color-border)] overflow-hidden">
    <div
      class="h-full w-full bg-[var(--color-fg)] origin-left"
      style="transform: scaleX(0);"
      data-hud-progress
    ></div>
  </div>
</div>
